.container-outletsNumber {
    border-radius: 25px;
    background: linear-gradient(45deg, #e3e3e3, #ffffff);
    box-shadow: 9px -9px 18px #dbdbdb,
        -9px 9px 18px #ffffff;
    margin: 10px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60%;
}

.chart-wrapper-donut {
    width: 350px;
    height: 350px;
}

.currentNumber {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 20px;
    padding-bottom: 10px;
}

.wrapper-outletNumber {
    display: flex;
    align-items: center;
    justify-content: center;
}

.currentNumber h1 {
    font-size: 2.2rem;
    color: rgba(0, 0, 0, 0.836);
    text-align: center;
}

.currentNumber p {
    text-align: center;
    font-size: 14px;
    color: #353535;
    font-weight: 300;
    text-transform: capitalize;
}