.leaflet-marker-icon.custom-icon {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}


.leaflet-container {
    width: 100%;
}

.leaflet-popup-content {
    min-width: 280px;
    width: 100%;
}

.top-popUp {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 20px;
}

.top-popUp h3 {
    color: rgba(0, 0, 0, 0.805);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
}



.popup_wrapper {
    padding: 10px 0px;
    display: flex;
    gap: 15px;
    flex-direction: column;
}

.desc-popupmap {
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-direction: column;
}

.listofdesc {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.popup_wrapper p {
    margin: 0 !important;
    font-size: 14px;
}

.visiturlgoogle {
    margin-top: 1rem;
}

/* .visiturlgoogle button {
    background: transparent;
    align-items: center;
    display: flex;
    padding: 8px 30px;
    border: 1px;
    cursor: pointer;
    border-radius: 20px;
    text-transform: lowercase;
    border: 1px solid rgba(0, 0, 0, 0.211);
    font-size: 14px;
    color: rgba(0, 0, 0, 0.637);
    transition: 300ms;
} */

.phonenumber-map {
    display: flex;
    align-items: center;
    gap: 6px;
}

/* .visiturlgoogle button:hover {
    color: black;
} */


/*              button              */

.visiturlgoogle button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
}

.visiturlgoogle button.learn-more {
    width: 12rem;
    height: auto;
}

.visiturlgoogle button.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #282936;
    border-radius: 1.625rem;
}

.visiturlgoogle button.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
}

.visiturlgoogle button.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
}

.visiturlgoogle button.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
}

.visiturlgoogle button.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: #282936;
    font-weight: 700;
    line-height: 1.9;
    text-align: center;
    text-transform: uppercase;
}

.visiturlgoogle button:hover .circle {
    width: 100%;
}

.visiturlgoogle button:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
}

.visiturlgoogle button:hover .button-text {
    color: #fff;
}

.leaflet-container.leaflet-touch-drag.leaflet-touch-zoom {
    height: 91.7vh !important;
}