.status-container {
    background: #fcfcfc;
    margin-top: 2rem;
}

.status-wrapper {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.records-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}